.header {
    padding: 1em;
    border-bottom: 1px solid #ccc;
}

.header img {
    max-width: 12em;
}

.header-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header a {
    color: #0074c4;
    font-family: arial;
    text-transform: uppercase;
    font-size: .85em;
}


@media (min-width: 1024px) {
    .header {
        padding: 1em;
        border-bottom: 10px solid pink;
    }

    .header img {
        max-width: 16em;
    }
}