:root {
    --primary-color: #f0f0f0;
    --primary-bg-color: #ccc;
    --app-max-width: 1280px;
}

* {
    padding: 0;
    margin: 0;
}

.title {
    text-decoration: underline;
}

.product-list-content-wrapper {
    margin-right: 5em;
}