.product-card-wrapper {
    border: 1px solid #ccc;
    box-shadow: -1px 8px 11px 0px #ccc;
    border-radius: 5px;
    margin-bottom: 1em;
}

@media (min-width: 968px) {
    .product-card-wrapper {
        flex: 1 0 35%;
        margin: 0 1em 1em 0;
    }

    .product-card-wrapper img {
        height: 200px;
    }
}

@media (min-width: 1280px) {
    .product-card-wrapper {
        flex: 1 0 25%;
    }
}

.product-card-wrapper img {
    width: 100%;
}

.product-card-content-wrapper {
    padding: .75em;
    margin: 0 !important;
}