.product-card-wrapper {
    border: 1px solid #ccc;
    box-shadow: -1px 8px 11px 0px #ccc;
    border-radius: 5px;
    margin-bottom: 1em;
    flex: 1 0 25%;
}

@media (min-width: 760px) {
    .product-card-wrapper img {
        height: 200px;
    }
}

.product-card-wrapper img {
    width: 100%;
}

.product-card-content-wrapper {
    padding: .75em;
    margin: 0 !important;
}