.h-banner-section {
    background-color: #ccc;
    height: 170px;
}

.h-banner-content-wrapper {
    max-width: var(--app-max-width);
    margin: auto;
    background-color: #a0dbe9;
    height: 100%;
}