.v-banner-section {
   display: none;
}

.v-banner-content-wrapper {
    width: 300px;
    margin: auto;
    background-color: #a0dbe9;
    height: 600px;
    position: sticky;
    top: 20%;
}
@media (min-width: 968px) {
    .v-banner-section {
        background-color: #ccc;
        display: inline;
    }
}